/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
body { 
	font-family: "Andale Mono", AndaleMono, monospace;
}
a {
	text-decoration: none;
	color: inherit;
}

#sidebar {
	font-size: 30px;
  color: 	#484848;
	width: 250px;
	margin-top: -50px;
	position: relative;
	left: 0;
	bottom: 10px;
	top: 10px;
	height: 200%;
	background-image: url("background.jpg");
	background-repeat: repeat-y;
	padding: 7em 0 0 0;
	border-right: 1px solid black;
	ul {
		list-style: none;
		text-align: right;
		padding-right: 3em;
		.category {
			font-weight: 800;
			font-size: 0.8em;
			text-transform: uppercase;
		}
		li {
			padding: .5em 0;
			a {
				font-size: 0.7em;
				text-decoration: none;
				transition: all .4s ease;
				&:hover {
					color: 	#FFB6C1;
					border: 1px solid black;
					padding: .5em .5em;
					border-radius: 1.0em;
					background-color: white;
				}
			}
		}
		.active {
			a {
				color: 	#FFB6C1; 
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 2.5em;
		color: #484848;
		top: 8%;
		font-size: .8em;
	}
}

#new-post-form, #edit-post-form {
	text-align: center; 
	padding-top: 2%;
}

.show-content {
	text-align:center;
}

#errors > ul {
	list-style-type: none;
}

input[type=text], textarea {
	color: 	black;
	border: 1px solid black;
	padding: .5em .5em;
	border-radius: 1.0em;
	background-color: white;
}

textarea {
	height: 250px;
}

input[type=submit] {
	color: 	#484848;
	border: 1px solid #d6dce0;
	padding: .5em .5em;
	border-radius: 1.0em;
	background-color: white;
}

input[type=submit]:hover {
	color: pink;
	border: 1px solid black;
}

.button {
	outline: none;
	color: #484848;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid black;
		color: pink;
		a {
			color: pink !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.edit-link, .delete-link {
	display: inline-block;
}

.edit-link:hover, .delete-link:hover { 
	color: pink;
}

#main_content {
	margin-left: 250px;
	margin-top: -640px;
	#header {
		font-family: "Andale Mono", AndaleMono, monospace;
  	color: #484848;
		padding: 1em 3em;
		border-bottom: 1px solid black;
		background: white;
		p {
			display: inline;
		}
		a {
			color: #484848;
			text-decoration: none;
		}
		.buttons {
			float: right;
			margin-top: -6px;
			.button {
				font-size: .8em;
				margin-left: .5em;
			}
		}
	}
	.post_wrapper {
		padding: 3em;
		border-bottom: 1px solid black;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #484848;
				font-size: 1.5em;
				&:hover {
					color: pink;
				}
			}
		}
		.date_and_author {
			color: #484848;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 1em 3em;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 1px solid #d6dce0;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: pink;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="email"], input[type="password"]{
		width: 90%;
		border: 1px solid #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	
}